.formulario{
    min-width: 636px;
    padding: 24px 32px;
    background-color: #196273;
    margin: 2%;
    flex: 1;
}
#my-dropzone{
    border: 2px dashed #ccc;
    background-color: #eee;
    color: #333;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.epic{
    vertical-align: middle;
    max-width: 20px;
}