#toTopHover {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

#gp-to-top {
    position: fixed;
    right: 20px;
    bottom: 94px;
    display: inline;
    z-index: 2; 
    padding: 6px 10px 10px;
    background: #3e6a91;
    color: #fff;
}

#go-to-top.mostrar {
    display: block;
}

.bi {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.bi-caret-up:before {
    content: "\F238";
}

.bi-caret-up:after {
    content: "";
    visibility: hidden;
}