/*  Gallery  */
.gallery {
    display: block;
    max-width: 90%;
    margin: 3em;
}
.contenedor{
    width: 100%;
    max-width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    transition: all 400ms;
}
.cartas{
    list-style: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0,
    0.5);
    flex-wrap: wrap;
    flex: 1;
    height: 80%;
    transition: all 400ms;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.from {
    background-image: url('/repo/img/juegos/img_card/eldenring.jpg');
}

.ubi {
    background-image: url('/repo/img/juegos/img_card/Rainbow.jpg');
}

.rock {
    background-image: url('/repo/img/juegos/img_card/gta6.png');
}

.beth {
    background-image: url('/repo/img/juegos/img_card/doom.webp');
}

.dog {
    background-image: url('/repo/img/juegos/img_card/TLOF.jpeg');
}

.contenedor .cartas img{
    width: 120px;
    height: 100px;
    object-fit: contain;
    aspect-ratio: 3/4;
    overflow: auto;
}

.cartas:hover{
    flex: 3;
    filter: grayscale(0%);
    z-index: 0;
    -webkit-box-shadow:24px 24px 14px 13px rgba(42, 58, 58, 0.5);
    -moz-box-shadow: 24px 24px 14px 13px rgba(42, 58, 58, 0.5);
    box-shadow: 24px 24px 14px 13px rgba(42, 58, 58, 0.5);
}
.cartas:hover img{
    transform: translateY(8em);
    transition: 400ms;
    }
.cartas:not(hover) {
    filter: grayscale(100%);
}

/*  Grid de Juegos */
.juegos{
    margin: 5% 7%;
}
.juego{
    background-color: #196273;
    color: #FFFFFF;
}
.juego:hover{
    -webkit-box-shadow:24px 24px 14px 13px rgba(29, 80, 80, 0.5);
    -moz-box-shadow: 24px 24px 14px 13px rgba(29, 80, 80, 0.5);
    box-shadow: 24px 24px 14px 13px rgba(29, 80, 80, 0.5);
    transition: 300ms;
}