/* Dark mode*/
.switch {
    font-size: 17px;
    position: relative;
    display: flex;
    width: 3.5em;
    height: 2em;
    margin: 5px 5px 5px 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    --background: #2f2e31;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
    align-items: end;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked + .slider {
    background-color: #fbe5c3;
}

input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

/*  Gallery  */
.contenedor{
    width: 100%;
    max-width: 1800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    transition: all 400ms;
    
}
.contenedor .card{
    flex: 1;
    height: 80%;
    transition: all 400ms;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
}
.contenedor .card img{
    width: 120px;
    height: 100px;
}
.contenedor .card img .hp{
    filter:contrast(#fff);
}
.card .Video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: #fff;
    background-size: cover;
}
.card .Video:hover {
    transform: scale(1.1);
    transition: transform 400ms;
}
.card:hover{
    flex: 3;
    filter: none;
    z-index: 0;
    margin-top: 15px;
}

.card:not(hover) {
    filter: grayscale(100%);
}
